.Underline {
  margin-bottom: 0;
}

.BorderRightLeft {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.BorderRight {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.ButtonLine {
  background-color: #fff;
  border-top: 3px solid #fff;
}

.Button {
  color: aqua;
  cursor: pointer;
}

.Button:hover {
  color: rgb(34, 153, 153);
}

.Close {
  cursor: pointer;
  color: #33e6e0;
  font-size: .75rem;
}

/* .Close {
  color: rgb(32, 201, 201);
  padding-right: 5px;
  cursor: pointer;
  font-size: .75rem;
} */

.Top {
    background-color: #1ea7ae;
    color: #fff;
  }

.TopCompany {
    /* font-size: 1.25rem; */
    color: #fff;
}


.TopName {
    font-size: 1.25rem;
    color: #fff;
}

.Top i {
    color: #fff;
}

.ProTop {
    background-color: #3b444b;
    color: #fff;
}

.ProTop i {
    color: #666; 
}

.BudgetLink {
    background-color: #33e6e0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.Edit {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.Overview {   
    background-color: #e8f0f1;
}

.Overview p {
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.Bold {
    font-weight: 700;
}

.Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    padding: 0px 10px;
    height: 30px !important;
    text-align: center;
}

.SubTitle {
    background-color: #e8f0f1;
    font-weight: 700;
}

.SubTitle4 {
  background-color: #e8f0f1;
  font-weight: 700;
  color: #000;
}
  
.SubTitle2   {
  background-color: #d6fcff;
  font-weight: 700;
}

.SubTitle3 {
  background-color: #e4f2f4;
  font-weight: 700;
}

.TopSheet {
  background-color: #f5f9fb;
}

  .SubTitleAbove {
    background-color: #e4f2f4;
    font-weight: 700;
  }

  .OverviewBlue {
    background-color: #e4f2f4;
  }

  .BoldBlack {
    font-weight: 700;
    color: #000;
  }

  .Break {
    border-top: 10px solid #d0d9db;
  }

  .BreakAbove {
    border-top: 15px solid #d0d9db;
  }

/* .Width100 {

} */