/* normal for single */
.Box5 {
  margin-top: 3px;
  margin-bottom: 0;
  width: 70px;
  border: 1px solid #d0d9db;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}
/* total */
.Box3 {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 95%;
  border: 1px solid #d0d9db;
  background: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

/* normal for treble */
.Box {
  margin-top: 3px;
  width: 70px;
  border: 1px solid #d0d9db;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
  margin-bottom: 0;
}

/* total for treble */
.Box2 {
  margin-top: 3px;
  margin-bottom: 0;
  width: 95%;
  border: 1px solid #d0d9db;
  background: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

/* end total for treble */
.Box4 {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 95%;
  border: 1px solid #d0d9db;
  background: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.WhiteBack {
  background-color: #fff;
}

.BlackBack {
  background-color: #000;
  color: #fff;
}

.BlackBack p {
  color: #fff;
}

.Underline {
  font-weight: 700;
  color: #000;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Underline7 {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #000;
  font-weight: 400;
}

.Underline6 {
  margin-bottom: 2px;
  margin-top: 2px;
  font-weight: 400;
}

.Underline2 {
  /* border-bottom: 1px solid rgb(168, 250, 250); */
  border-bottom: 1px solid #d0d9db;
}

.Underline3 {
  /* border-bottom: 2px solid rgb(168, 250, 250); */
  border-bottom: 2px solid #d0d9db;
}

.BoldBlack {
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}

.BoldBlackU {
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #d0d9db;
}

.RightBorder {
  border-right: 5px solid #d0d9db;
}

.BorderRightLeft {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.BorderRight {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.ButtonLine {
  background-color: #fff;
  border-top: 3px solid #fff;
}

.Button {
  color: rgb(9, 210, 241);
  cursor: pointer;
}

.Button:hover {
  color: rgb(41, 119, 119);
}

.Close {
  cursor: pointer;
  color: #33e6e0;
  font-size: .75rem;
}

/* .Close {
  color: rgb(32, 201, 201);
  padding-right: 5px;
  cursor: pointer;
  font-size: .75rem;
} */

.Top {
    background-color: #1ea7ae;
    color: #fff;
  }

.TopCompany {
    /* font-size: 1.25rem; */
    color: #fff;
}


.TopName {
    font-size: 1.25rem;
    color: #fff;
}

.Top i {
    color: #fff;
}

.ProTop {
    background-color: #3b444b;
    color: #fff;
}

.ProTop i {
    color: #666; 
}

.BudgetLink {
    background-color: #33e6e0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.Edit {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.Overview {   
    background-color: #e8f0f1;
}

.Overview p {
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.Bold {
    font-weight: 700;
    margin-bottom: 0;
}

.Input {
    background: #ffffff;
    /* border: 1px solid #f0f1f9; */
    border: 1px solid #e0e2ef;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    padding: 0px 10px;
    height: 20px !important;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.Input1 {
  background: #ffffff;
  /* border: 1px solid #f0f1f9; */
  border: 1px solid #e0e2ef;
  box-sizing: border-box;
  border-radius: 2px;
  /* color: #7177a1; */
  color: #000;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  font-weight: 700;
}

.SubTitle {
    background-color: #e8f0f1;
    font-weight: 700;
}

.SubTitle4 {
  background-color: #e8f0f1;
  font-weight: 700;
  color: #000;
}
  
.SubTitle2   {
  background-color: #d6fcff;
  font-weight: 700;
}

.SubTitle3 {
  background-color: #e4f2f4;
  font-weight: 700;
}

.TopSheet {
  background-color: #f5f9fb;
}

  .SubTitleAbove {
    background-color: #e4f2f4;
    font-weight: 700;
  }

  .OverviewBlue {
    background-color: #e4f2f4;
  }

  .Break {
    border-top: 10px solid #d0d9db;
  }

  .Break1 {
    border-top: 1px solid #d0d9db;
    margin-top: 2px;
  }

  .BreakAbove {
    border-top: 15px solid #d0d9db;
  }

/* .Width100 {

} */