.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 4px;
    border-color: transparent;
    padding: 0px 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }

  .Shed {
    background-color: #24acc3;
    color: #fff;
  }

  .Shed:hover {
    background-color: #0f6270;
    color: #fff;
  }

  .Once {
    background-color: grey;
    color: #000;
  }

  .Once:hover {
    background-color: red;
    color: #fff;
  }

  .CrewEdit {
    background-color: #59c1d2;
    color: #fff;
  }

  .CrewEdit:hover {
    background-color: #0f6270;
    color: #fff;
  }

  .Grey {
    background-color: #58666b;
    color: #fff;
  }

  .Grey:hover {
    background-color: #58666b;
    color: #fff;
  }

  .GreyDark {
    background-color: #43606a;
    color: #fff;
  }

  .GreyDark:hover {
    background-color: #58666b;
    color: #fff;
  }

  .White {
    background-color: #fafafa;
    color: #353839;
    font-weight: 900;
  }

  .White:hover {
    background-color: #000;
    color: #fff;
  }

  .Order {
    background-color: #3b444b;
    color: #fff;
  }

  .Order:hover {
    background-color: #47535d;
    color: #fff;
  }

  .Black {
    background-color: #3b444b;
    color: #fff;
    }

  .Black:hover {
    background-color: #fff;
    color: #000;
  }

  .Blue {
    background-color: #33e6e0;
    /* background-color: #32c0e4; */
    color: #ffffff;
  }

  .Blue:hover {
    background-color: #40c0c7;
    color: #ffffff;
  }
  
  .Bright {
    background-color: #0077a7;
    color: #fff;
  }

  .Bright:hover {
    background-color: #32c0e4;
    color: #fff;
  }

  .Back {
    background-color: rgb(33, 205, 239);
  }

  .Back:hover {
    background-color: #32c0e4;
    color: #fff;
  }

  .BlueLight {
    background: rgb(232, 240, 254);
    color: #000;
    font-weight: 700;
}
  
  .Button.Back:active {
    background-color: #6380e1 !important;
  }
  
  .Button.Back:focus {
    background-color: rgb(5, 187, 187);
  }
  
  .btn-gold {
    background: rgb(255,215,0);
    color: #000;
    font-weight: 700;
}

.btn-gold:hover {
    background: rgb(71, 68, 68);
    color: rgb(232, 240, 254);
    font-weight: 700;
    text-decoration: none;
}
  
  .Wide {
    padding: 10px 50px;
    width: 50%;
  }

  .Wide2 {
    width: 30%;
    padding: 2px 10px;
  }

  .Wide3 {
    padding: 2px 10px;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .Wide2 {
      width: 50%;
    }
  }