.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
/* .SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}
.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
} */

.Info {
  color: #000;
}

.Top {
  background-color: #1ea7ae;
  /* background-color: #31a7ae; */
  color: #fff;
  border: 1px solid #fff
}

.Top:hover {
  /* background-color: #3076ac; */
  background-color: #22b9c1;
  color: #fff;
}

.Top i:hover {
  /* background-color: #3076ac; */
  color: #fff;
}

.Title {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .Titlelist {
    font-size: .75rem ;
  }
}