.WordBreakWhite {
  color: #fff;
}

.Back {
  /* background-color: #2c9da3; */
  background-color: #1ea7ae;
  color: #000;
  height: 180px;
}

.Back2 {
  background-color: #2c9da3;
  color: #ffffff;
}

.CardHead {
  height: 140px;
}

.CardHead:hover {
  background-color: #22b9c1;
}

.Likes {
  color: #fff;
  font-weight: 700;
}
.Follow {
  background-color: #58666b;
  color: #fff;
}

a:hover {
  color:aqua
}

.SubTitle2   {
  background-color: #d6fcff;
  font-weight: 700;
}

/* profilepage */

.Titlelist {
  font-size: 1em;
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 80px;
    height: 80px;
  }
}