.SignupBox {
  background-color: #353839;
  height: 530px;
}

.FillerImagel {
  object-fit: cover;
  height: 300px;
  width: 50%;
}

.Inner {
  background-color: #0b3d63;
  color: #fafafa;
}

.Guest {
  color: #fafafa;
}

.Form {
  background-color: #3b444b;
  padding: 10px
}


.Input {
    background: #3b444b;
    box-sizing: border-box;
    border-bottom:  1px solid #fff;
    border-top: 1px solid #3b444b;
    border-left: 1px solid #3b444b;
    border-right: 1px solid #3b444b;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: antiquewhite;
}

.Link span {
  color: rgb(170 231 255);
}

.Container {
  padding: 5px 5px;
}

@media screen and (max-width: 600px) {
  .FillerImagel {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
}